@* Created by Mikael Ekroth *@
@(formData: Form[views.formdata.AbsenceFormData])

@import helper._

@form(routes.Registration.postAbsence(), 'class -> "form-horizontal"){
	<div class="form-group form-space">
		<label class="col-md-6 control-label">Sjukfrånvaro</label>
		<div class="col-md-6">
			<input type="checkbox" class="js-switch"
			name="@formData("isSick").name"
			id="@formData("isSick").id" />
		</div>
	</div>

	<button type="submit" class="btn btn-block form-padding">Skicka in sjukfrånvaro</button>
}
<p class="text-danger">
	<span class="help-block bg-danger">
		@{formData("reason").error.map { error => error.message }}
	</span>
</p>
<script>
	var elem = document.querySelector('.js-switch');
	var init = new Switchery(elem);
</script>