@* Created by Mikael Ekroth *@
@(formData: Form[views.formdata.ChildAbsenceFormData])

@import helper._

@form(routes.Registration.postChildAbsence(), 'class -> "form-horizontal"){
	<div class="form-group form-space @if(formData("registrationNumber").hasErrors) {has-error}">
		<label class="col-md-4 control-label" name="@formData("registrationNumber").name">Personnummer: </label>
		<div class="col-md-8">
			<input type="text"  class="form-control"
			name="@formData("registrationNumber").name"
			id="@formData("registrationNumber").id"
			placeholder="Ange personnummer" />
			</div>
		</div>
	<button type="submit" class="btn btn-block">Skicka in vård av sjuktbarn</button>
}
<p class="text-danger">
	<span class="help-block bg-danger">
		@{formData("registrationNumber").error.map { error => error.message }}
	</span>
</p>