@* Created by Mikael Ekroth *@
@(formData: Form[views.formdata.MedicalCertFormData])

@import helper._

@form(routes.Registration.postMedicalCert(), 'class -> "form-horizontal"){
	<div class="form-group form-space @if(formData("start").hasErrors) {has-error}">
		<label class="col-md-4 control-label">Fr.o.m : </label>
		<div class="col-md-8">
			<input type="text" class="form-control"
			name="@formData("start").name"
			id="@formData("start").id"
			placeholder="Datum (ÅÅÅÅ-MM-DD)" />
		</div>
	</div>

	<div class="form-group form-space @if(formData("end").hasErrors) {has-error}">
		<label class="col-md-4 control-label">T.o.m: </label>
		<div class="col-md-8">
			<input type="text" class="form-control"
			name="@formData("end").name"
			id="@formData("end").id"
			placeholder="Datum (ÅÅÅÅ-MM-DD)" />
		</div>
	</div>
	<button type="submit" class="btn btn-block">Skicka in läkarintyg</button>
}
<p class="text-danger">
	<span class="help-block bg-danger">
		@{formData("start").error.map { error => error.message }}
		@{formData("end").error.map { error => error.message }}
	</span>
</p>