@* Created by Ivan Videsvall 140313 *@

@(isLoggedIn: Boolean, user: User, loginForm: Form[views.formdata.LoginFormData])

@usernameField() = @{ loginForm("username") }
@passwordField() = @{ loginForm("password") }

@Main("Login", isLoggedIn, user) {
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Inloggning</h3>
					</div>
					<div class="panel-body">
						@helper.form(routes.Application.postLogin(), 'role -> "form") {
							<fieldset>
								<div class="form-group @if(usernameField().hasErrors) {has-error}" >
									<input id="@usernameField().id"
									name="@usernameField().name"
									value="@usernameField().valueOr("")"
									class="form-control"
									placeholder="användarnamn"
									type="text">
								</div>
								<div class="form-group @if(passwordField().hasErrors) {has-error}" >
									<input id="@passwordField().id"
									name="@passwordField().name"
									value="@passwordField().valueOr("")"
									class="form-control"
									placeholder="lösenord"
									type="password">
								</div>
								<input class="btn btn-lg btn-success btn-block"
								type="submit"
								value="Logga in">
							</fieldset>
						}
						@if(flash.containsKey("error")) {
							<div id="error-message" class="text-danger">
							@flash.get("error")
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}
