@* Created by Mikael Ekroth *@

@(  isLoggedIn: Boolean, user: User, activeTab: String,
    emplyeeForm: Form[views.formdata.AbsenceFormData],
    childAbsenceForm: Form[views.formdata.ChildAbsenceFormData],
    medicalCertForm: Form[views.formdata.MedicalCertFormData]
)

@import forms._

@Main("Registration", isLoggedIn, user){
	<div class="container">
		<h1 class="title">Registrering av frånvaro</h1>
		<div class="row">
			<div class="col-md-4"></div>
				<div class="col-md-4 well">
					<ul class="nav nav-tabs">
						<li><a href="#reg-user" data-toggle="tab">Sjukfrånvaro</a></li>
						<li><a href="#reg-childsick" data-toggle="tab">VAB</a></li>
						<li><a href="#reg-medicalcert" data-toggle="tab">Sjukintyg ifrån läkare</a></li>
					</ul>

					<div class="tab-content">

					<div class="tab-pane @("active".when(activeTab == "user"))" id="reg-user">
						@AbsenceForm(emplyeeForm)
					</div>

					<div class="tab-pane @("active".when(activeTab == "child"))" id="reg-childsick">
						@ChildSickForm(childAbsenceForm)
					</div>

					<div class="tab-pane @("active".when(activeTab == "cert"))" id="reg-medicalcert">
						@MedicalForm(medicalCertForm)
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>

		@if(flash.containsKey("success")) {
			<div id="error-message" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				@flash.get("success")
			</div>
		}
	</div>
	<script src="@routes.Assets.at("javascripts/regfunctions.js")"></script>
}
