@* Created by Ivan Videsvall 140312 *@

@(isLoggedIn: Boolean, user: User, searchForm: Form[views.formdata.SearchFormData]
		, absence: models.Absence, employeeName: String)

@import helper.form

@field() = @{ searchForm("employeeNr") }

@Main("Search", isLoggedIn, user) {
	<div class="container">
		<h1 class="col-sm-offset-2">Sök anställds frånvaro</h1>
		@form(routes.Application.postEmployeeNr(), 'class -> "form-horizontal well" , 'role -> "form") {

			<div class="form-group@if(field().hasErrors) { has-error}">

				<label class="col-sm-2 control-label">Anställningsnr</label>
				<div class="col-sm-4">

					<input type="text"
						class="form-control"
						id="@field().id"
						name="@field().name"
						value="@field().value"
						placeholder="XXX" />

					<span class="help-block">
						@{ field().error.map { error => error.message } }
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<button type="submit" class="btn btn-primary">Sök</button>
				</div>
			</div>
		}

		@if(absence != null) {
			@ShowSearchResults(absence, employeeName)
		} else {
			@if(flash.containsKey("error")) {
				<div id="error-message" class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					@flash.get("error")
				</div>
			}
		}

	</div>
}
