@*
	Created by Mikael Ekroth
    View template for showing the search results.
	Different approach in different case of absence
*@
@(absence: models.Absence, employeeName: String)

@if(absence.isSick){
	<div class="alert alert-success">
		<p><strong>@employeeName:</strong></p>
		<p>Registrerad frånvaro: @absence.getRegisteredAbsence</p>
		<p> Är frånvarande p.g.a sjukdom. </p>
	</div>
}
	<!-- Shows the sick message -->
@if(absence.isChildSickness){
	<div class="alert alert-success">
		<p><strong>@employeeName:</strong></p>
		<p>Registrerad frånvaro: @absence.getRegisteredAbsence() .</p>
		<p>Är frånvarande p.g.a Vård av sjukt barn för @absence.getChildRegistrationNum . </p>
	</div>
}

@if(absence.isMedicalCert){
	<div class="alert alert-success">
		<p><strong>@employeeName:</strong></p>
		<p>Registrerad frånvaro: @absence.getRegisteredAbsence()</p>
		<p>Är frånvarande p.g.a sjukskriven: @absence.getMedicalCertTime</p>
		<p></p>
	</div>
}